#div_center {
    position: absolute;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    display: none;
    opacity: 0;
    width: 90%;
    max-width: 90%;
    white-space: pre-wrap;
}

#div_center.active {
    display: block;

    animation-name: fadeIn;
    animation-fill-mode:forwards;
    animation-duration:2s;
}

.new-tegomin-regular {
    font-family: "New Tegomin", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
}

.shadow {
    font-weight: 800;
    font-size: 200%;
    text-shadow:
        2px 2px 2px black,
        0 0 1em black,
        0 0 0.2em black;
    color: white;
}
